<!DOCTYPE html>
<html>
    <head>
        <title>Travel Experts</title>

        <link rel="stylesheet" href="homePageStyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />      
    </head>
    <header>
        
        <div class="headText">
            <img src="Logo.png" alt="Logo for our company" />
            <h1>Welcome to Travel Experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
        <!--images-->
    </header>
    <body>
    <nav>
        <ul type="none" class="menu">
            <%if (pageType == "homePage") { %>
                <li class="menuItem"><a href="/" class="active">Home Page</a> </li>
            <% } else { %>
                <li class="menuItem"><a href="/" class="inactive">Home Page</a> </li>
            <% } %>
            <%if (pageType == "contactPage") { %>
                <li class="menuItem"><a href="/contact" class="active">Contact Us</a> </li>
            <% } else { %>
                <li class="menuItem"><a href="/contact" class="inactive">Contact Us</a> </li>
            <% } %>
            <%if (pageType == "G2_Vacationpackage") { %>
                <li class="menuItem"><a href="/packages" class="active">Vacation Packages</a> </li>
            <% } else { %>
                <li class="menuItem"><a href="/packages" class="inactive">Vacation Packages</a> </li>
            <% } %>
            <%if (username) { %>
                <%if (pageType == "profilePage") { %>
                    <li class="menuItem"><a href="/profile" class="active">Your Profile</a> </li>
                <% } else { %>
                    <li class="menuItem"><a href="/profile" class="inactive">Your Profile</a> </li>
                <% } %>
            <%} else if (pageType == "custregister") { %>
                <li class="menuItem"><a href="/registration" class="active">Register</a> </li>
            <% } else { %>
                <li class="menuItem"><a href="/registration" class="inactive">Register</a> </li>
            <% } %>
        </ul>
    </nav>