<!DOCTYPE html>
<html>
    <head>
        <title>Travel Experts</title>

        <link rel="stylesheet" href="homePageStyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />      
    </head>
    <header>
        
        <div class="headText">
            <img src="Logo.png" alt="Logo for our company" />
            <h1>Welcome to Travel Experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
        <!--images-->
    </header>
    <body>
