<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Experts Contact Page</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="contactPage.css">
    <link rel="stylesheet" href="../public/homePageStyle.css" />
    <link rel="stylesheet" href="../public/contactPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="headText">
            <img src="../Media/Logo.png" alt="Logo for our company" />
            <h1>Welcome to Travel Experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
    </header>
    <body>
        <nav>
            <ul type="none" class="menu">
                <li class="menuItem"><a href="homePage.html" class="active">Home Page</a> </li>
                <li class="menuItem"><a href="contactUs.html" class="inActive">Contacts</a> </li>
                <li class="menuItem"><a href="VacationPackages.html" class="inActive">Browse Vacation Packages</a> </li>
                <li class="menuItem"><a href="customerRegistration.html" class="inActive">Register</a> </li>
                
            </ul>
        </nav>
    <div class="header-left">
        
    </div>
    <div class="shell">
        <div class="image" style="background-image: url('../Media/caleb-smith-nneS_1Y9t_E-unsplash.jpg');"></div>

            <h1 style="font-size: 80px; color: white;">Contact Us</h1>
            <p style="color: white">(777)-888-9999</p>

        <div class="image" style="background-image: url('../Media/michiel-annaert-yQbZp_ivf_Y-unsplash.jpg');"></div>
            <h1 style="font-size: 60px; color: white;">Email</h1>
            <p style="color: white;">contact@Email.com</p>

        <div class="image" style="background-image: url('../Media/marek-piwnicki-2um8kcfmOLc-unsplash.jpg');"></div>
        <div class="header">
            <h1 style="font-size: 50px; color: white;">Bug Report</h1>
            <input type="text" style="background-color: #f5f7fa; width: 30%; height: 50px; border-radius: 30px; border: none;">
            <button class="submit">submit</button>
             <p style="font-size: 30px; color: white;">Address</p><br />
             <p style="color: white;">1234 Noway No.6 A1B2C3</p>
        </div>
    </div>
</body>
</html>