<%- include('partials/mainHeader') %>
<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="contactPage.css">
<div class="shell">
    <div class="image" style="background-image: url('caleb-smith-nneS_1Y9t_E-unsplash.jpg');"></div>

        <h1 style="font-size: 80px; color: white;">Contact Us</h1>
        <p style="color: white">(777)-888-9999</p>

    <div class="image" style="background-image: url('michiel-annaert-yQbZp_ivf_Y-unsplash.jpg');"></div>
        <h1 style="font-size: 60px; color: white;">Email</h1>
        <p style="color: white;">contact@Email.com</p>

    <div class="image" style="background-image: url('marek-piwnicki-2um8kcfmOLc-unsplash.jpg');"></div>
    <div class="header">
        <h1 style="font-size: 50px; color: white;">Bug Report</h1>
        <input type="text" style="background-color: #f5f7fa; width: 30%; height: 50px; border-radius: 30px; border: none;">
        <button class="submit">submit</button>
            <p style="font-size: 30px; color: white;">Address</p><br />
            <p style="color: white;">1234 Noway No.6 A1B2C3</p>
    </div>
</div>
<%- include('partials/mainFooter') %>