<!DOCTYPE html>
<html>

    <head>
        <title>Vacation Packages</title>
        <link rel="stylesheet" href="vacationpackage.css">
    <style>
        
    </style>
    <script>

    </script>
    </head>
    <body>
       <h1 align="center">Vacation Packages</h1></br>
            <div class="img1" align="center">
                <img src="media/11maldives.png">
                <img src="media/11lasvegas.png">
                <img src="media/11spain.png">
                <img src="media/11japan.png">
                <img src="media/11hawaii.png">
            </div>
        </br>
        <div class="padding1" align="center">
            <div class="tile">
                <img src="media/bhutan.jpg" alt="hawaii">
                <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
                <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br>Starts: Ends:</br>
                $4800</br>
                5 nights + flight<button>Add to Cart</button></p>
            </div>
        <div class="tile">
            <img src="media/bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
            <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br></br>
            $4800</br>
            5 nights + flight<button>Add to Cart</button></p>
        </div>
        <div class="tile">
            <img src="media/bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
            <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br></br>
            $4800</br>
            5 nights + flight<button>Add to Cart</button></p>
        </div>
        <div class="tile">
            <img src="media/bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
            <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br></br>
            $4800</br>
            5 nights + flight<button>Add to Cart</button></p>
        </div>
        <div class="tile">
            <img src="media/bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
            <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br></br>
            $4800</br>
            5 nights + flight<button>Add to Cart</button></p>
        </div>
        <div class="tile">
            <img src="media/bhutan.jpg" alt="hawaii">
            <p align="center" style="margin-bottom:-15px;">Caribbean New Year</p></br>
            <p style="font-size: 18px;">Cruise the Caribbean & Celebrate the New Year</br></br></br>
            $4800</br>
            5 nights + flight<button>Add to Cart</button></p>
        </div>
    </div>

</html>