<!DOCTYPE html>
<html>
    <head>
        <title>Travel Experts</title>

        <link rel="stylesheet" href="homePageStyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />
        
    </head>
    <header>
        <div class="headText">
            <img src="Media/Logo.png" alt="Logo for our company" />
            <h1>Welcome to travel experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
        <!--images-->
    </header>
    <body>
        <nav>
            <ul type="none" class="menu">
                <li class="menuItem"><a href="homePage.html" class="active">Home Page</a> </li>
                <li class="menuItem"><a href="contactUs.html" class="inActive">Contacts</a> </li>
                <li class="menuItem"><a href="VacationPackages.html" class="inActive">Browse Vacation Packages</a> </li>
                <li class="menuItem"><a href="customerRegistration.html" class="inActive">Register</a> </li>
                
            </ul>
        </nav>

        <div>
            <ul type="none" class="slideShow">
                <img src="Media/Mountains.jpg" alt="Photo by Marek Piwnicki on Unsplash" height="200" width="100" />
                <img src="Media/City.jpg" alt="Photo by Max Harlynking on Unsplash" height="200" width="100"/>
                <img src="Media/Street.jpg" alt="Photo by OpenTab on Unsplash" height="200" width="100" />
                <img src="Media/Water.jpg" alt="Photo by Philip Myrtorp on Unsplash" height="200" width="100"/>
            </ul>
        </div>

        <h3>Why should I choose Travel experts?</h3>
            <p>We are a small Calgary/Okotoks based firm and we wish to connect every Canadian with their travel dreams as easily as possible.</p>
        <h3> Here are some facts</h3>
        <ul class="factsList">
            <li class="fact"><p>we are dedicated to provide our customers with the best avaliable travel packages <br />
            at a very competetive price. </p> </li>
            <li class="fact"><p>top rated customer service, provided by highly qualified responsive team.</p> </li>
            <li class="fact"><p>Travel Experts have been proudly serving the community since 2023</p> </li>
            <li class="fact"><p>to this day on our webiste we are offering a total of (...) travel packages</p></li>
        </ul>
    </body>
    <footer>
        <p>this page is copywright claimed by TravelExperts 2023 &copy;</p>
    </footer>

</html>