<!DOCTYPE html>
<html>
    <head>
        <title>Travel Experts</title>

        <link rel="stylesheet" href="homePageStyle.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />
        
    </head>
    <header>
        <div class="headText">
            <img src="Logo.png" alt="Logo for our company"/>
            <h1>Welcome to Travel Experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
    </header>
    <body>
        <nav>
            <ul type="none" class="menu">
                <li class="menuItem"><a href="homePage.html" class="active">Home Page</a> </li>
                <li class="menuItem"><a href="contactUs.html" class="inActive">Contacts</a> </li>
                <li class="menuItem"><a href="VacationPackages.html" class="inActive">Browse Vacation Packages</a> </li>
                <li class="menuItem"><a href="customerRegistration.html" class="inActive">Register</a> </li>
            </ul>
        </nav>
        <div class="pageContent">
            <div class="slideshow">
                <div class="mySlide">
                    <p>Explore the wild</p>
                    <img src="Mountains.jpg" alt="Photo by Marek Piwnicki on Unsplash"  />
                </div>
                <div class="mySlide">
                    <p>Visit Beautiful Cities</p>
                    <img src="City.jpg" alt="Photo by Max Harlynking on Unsplash" /> 
                </div>
                <div class="mySlide">
                    <p>Make lasting memories</p>
                    <img src="Street.jpg" alt="Photo by OpenTab on Unsplash" /> 
                </div>
            </div>
            <div class="explanationText">
                <h3> Why should I choose Travel experts?</h3>
                    <p>We are a small Calgary/Okotoks based firm and we wish to connect every Canadian with their travel dreams as easily as possible.</p>
                    <p>To achieve this goal we are now open for our worldwide clientele through our recently opened online agency</p>
                <h3> Here are some facts</h3>
                <ul class="factsList">
                    <li class="fact"><p>we are dedicated to provide our customers with the best avaliable travel packages <br />
                    at a very competetive price. </p> </li>
                    <li class="fact"><p>top rated customer service, provided by highly qualified responsive team.</p> </li>
                    <li class="fact"><p>Travel Experts have been proudly serving the community since 2023</p> </li>
                    <li class="fact"><p>to this day on our webiste we are offering a total of (...) travel packages</p></li>
                    <li class="fact"><p>anywhere you want to go all in one place!</p></li>
                </ul>
            </div>
        </div>
    </body>
    <footer>
        <p>this page is copyright claimed by TravelExperts 2023 &copy;</p>
    </footer>

</html>