<%- include('partials/mainHeader') %>
<div class="pageContent">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var slideNum = 0;

        function showSlides() {
            var slides = document.getElementsByClassName("mySlide");

            for (var i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slideNum++;
            if (slideNum > slides.length) {
                slideNum = 1;
            }

            slides[slideNum - 1].style.display = "block";
            setTimeout(showSlides, 3000);
        }

        showSlides();
        });
    </script>
    <div class="slideshow">
        <div class="mySlide">
            <p>Explore the wild</p>
            <img src="Mountains.jpg" alt="Photo by Marek Piwnicki on Unsplash"  />
        </div>
        <div class="mySlide">
            <p>Visit Beautiful Cities</p>
            <img src="City.jpg" alt="Photo by Max Harlynking on Unsplash" /> 
        </div>
        <div class="mySlide">
            <p>Make lasting memories</p>
            <img src="Street.jpg" alt="Photo by OpenTab on Unsplash" /> 
        </div>
    </div>
    <div class="explanationText">
        <h3> Why should I choose Travel experts?</h3>
            <p>We are a small Calgary/Okotoks based firm and we wish to connect every Canadian with their travel dreams as easily as possible.</p>
            <p>To achieve this goal we are now open for our worldwide clientele through our recently opened online agency</p>
        <h3> Here are some facts</h3>
        <ul class="factsList">
            <li class="fact"><p>we are dedicated to provide our customers with the best avaliable travel packages <br />
            at a very competetive price. </p> </li>
            <li class="fact"><p>top rated customer service, provided by highly qualified responsive team.</p> </li>
            <li class="fact"><p>Travel Experts have been proudly serving the community since 2023</p> </li>
            <li class="fact"><p>to this day on our webiste we are offering a total of (...) travel packages</p></li>
            <li class="fact"><p>anywhere you want to go all in one place!</p></li>
        </ul>
    </div>
</div>
<%- include('partials/mainFooter') %>