<!DOCTYPE html>
<html>
    <head>
        <title>logged In</title>
        <link rel="stylesheet" href="../public/loggedInStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />
        
    </head>
    <header>
        <div class="headText">
            <img src="../Media/Logo.png" alt="Logo for our company" />
            <h1>Welcome to travel experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
    </header>
    <body>
        <nav>
            <ul type="none" class="menu">
                <li class="menuItem"><a href="homePage.html" class="active">Home Page</a> </li>
                <li class="menuItem"><a href="contactUs.html" class="inActive">Contacts</a> </li>
                <li class="menuItem"><a href="VacationPackages.html" class="inActive">Browse Vacation Packages</a> </li>
                <li class="menuItem"><a href="customerRegistration.html" class="inActive">Register</a> </li>
            </ul>
            <h1 class="loggedMessage"> you Have logged in successfully!</h1>


            <h3>vacation packages</h3>
            <h3>account information</h3>
            <h3>change Password</h3>
            <h3>change Username</h3>
        </nav>
    <footer>
        <p>this page is copywright claimed by TravelExperts 2023 &copy;</p>
    </footer>

</html>

