<!DOCTYPE html>
<html>
    <head>
        <title>logged In</title>
        <link rel="stylesheet" href="../public/loggedInStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Ephesis&display=swap" rel="stylesheet" />
        

        <script>
            function vacPack(){
                document.getElementsByClassName("headText").style.backgroundColor = "red";
            }

            function accInfo(){
                document.getElementsByClassName("headText").style.backgroundColor = "blue";
            }

            function passChange(){
                document.getElementsByClassName("headText").style.backgroundColor = "green";
            }

            function userChange(){
                document.getElementsByClassName("headText").style.backgroundColor = "yellow";
            }
        </script>
        
    </head>
    <header>
        <div class="headText">
            <img src="../Media/Logo.png" alt="Logo for our company" />
            <h1>Welcome to travel experts</h1>
            <h1 class="vacation">Your Dream Vacation Starts Here </h1>
        </div>
    </header>
    <body>
        <nav>
            <ul type="none" class="menu">
                <li class="menuItem"><a href="homePage.html" class="active">Home Page</a> </li>
                <li class="menuItem"><a href="contactUs.html" class="inActive">Contacts</a> </li>
                <li class="menuItem"><a href="VacationPackages.html" class="inActive">Browse Vacation Packages</a> </li>
                <li class="menuItem"><a href="customerRegistration.html" class="inActive">Register</a> </li>
            </ul>
            <br />
            <br />
            <h1 class="loggedMessage"> you Have logged in successfully!</h1>
            <div class="loggedMenu">
                <button id="vacationPack" name="vacationPack" class="loggedMenuItem" onClick="vacPack()">My Vacation Packages</button>
                <button id="AccountInfo" name="AccountInfo" class="loggedMenuItem" onCLick="accInfo()">My Account Information</button><br />
                <button id="passwordChange" name="passwordChange" class="loggedMenuItem" onClick="passChange()">Change Password</button>
                <button id="userNameChange" name="userNameChange" class="loggedMenuItem" onCLick="userChange()">Change Username</button>
            </div>
            <br />
            <br />
        </nav>
    <footer>
        <p>this page is copywright claimed by TravelExperts 2023 &copy;</p>
    </footer>

</html>

