<!DOCTYPE html>
<html>

<head>
<title>Order</title>
<link rel="stylesheet" href="order.css">
</head>
<body>
    <div class="container">
    <h1>Order Form</h1>
    <form method="post" action="bouncer.php">
        Travel Date <input type="date" name="Date of Departure/w+@(/w+/.)+[a-z]" required="required"/><br/>
		Number of travelers <input type="number" name="Travelers" min="1" max="5" /><br/>
        Card Type <br/>
		Visa <input type="radio" name="Card Type" value="v"/>
		Master Card <input type="radio" name="Card Type" value="m"/>
		American Express <input type="radio" name="Card Type" value="a"/><br/></br>

        <button type="reset">Clear</button>
        <button type="submit">Order</button>
    </form>
    </div>
</body>


</html>
