<div class="screenblur" id="screenblur"></div>
<br><br>
<div class ="loginButtons">
    <ul type="none" class="menu">
        <li class="menuItem"><a href="#" onclick="registerScreen()"class="inActive">Register</a> </li>
        <li class="menuItem"><a href="#" onclick="loginScreen()" class="inActive">Login</a> </li>
    </ul>  
</div>
<h1>Your Account..</h1>
<div class="popup" id="registerpopup">
    <button class="closebutton" onclick="closeRegister()">&#10006;</button>
    <h1>Register</h1>
    <form method="" action="#" class="formClass" onSubmit="return validateForm(this);">
        <input type="text" id="firstname" name="First name" placeholder="First Name" onfocus="displayText('pfname')"/>
        <input type="text" id="lastname" name="Last name" placeholder="Last Name" onfocus="displayText('plname')"/><br>
        <input type="text" id="city" name="City" placeholder="City" onfocus="displayText('pfname')"/>
        <select id="prov" name="Province">
            <option value="AB">Alberta</option>
            <option value="SK">Saskatchewan</option>
            <option value="YK">Yukon</option>
        </select>   
        <br><input type="text" id="streetaddress" name="Street Address" placeholder="Street Address"/>
        <input type="text" id="pcode" name="Postal Code" size=10 placeholder="Postal Code" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <br><input type="email" id="custemail" name="Email" placeholder="Email">
        <input type="tel" id="custtel" name="Phone Number" placeholder="Phone Number" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <br><input type="tel" id="buistel" name="Business Phone" placeholder="*Optional Business Phone"  onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <br><br><input type='text' id='username' name="Username" placeholder="Username" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <br><input type='password' id='password' name="Password"  placeholder="Password" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <input type='password' id='confpassword' name="Confirmation Password"  placeholder="Retype Password" onfocus="drawReqPopup(this)" onblur="hideReqPopup(this)"/>
        <br><br><button type="submit">Sign Up</button>
        <button type="reset" onclick="return confirm('Did you really want to reset?')">Reset</button>
        <br><p class="loginlink"><i>Already have an account? <a href="#" onclick="loginScreen()">Login Here</a></i></p>
    </form>
    <div class="requirementspopup" id="requirementspopup"></div>
    <div class="validationpopup" id="validationpopup">test<br><br></div>
</div>
<ul class="factsList">
    <li class="fact"><p>Gives you detailed information about your travel bookings, including past trips.</p> </li>
    <li class="fact"><p>Easily book your dream vacations and personalize it with related services.</p> </li>
    <li class="fact"><p>Earn rewards and enjoy targeted offers to make your next trip as affordable as ever.</p></li>
</ul>
