.body{
}
.shell {
    height: 100vh;
    overflow-x: hidden;
    perspective: 3px;
    background: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);

}

.shell div{
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 2px;
}

.image {
    transform: translateZ(1px);  scale:(1.6);
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.shell text {
    height: 50vh;
    background-color: black;
}

.shell text h1 {
    color: #72A25D;
}

.submit {
    background: linear-gradient(to right,#65CBF7,#B3A5FC);;
    color: #9C3493;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 20%;
}

