header {
    background-color: #8D5DA2;
    color: #ffffff;
}

/*ttps://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black
*/
nav{
    display: inline;
}
ul.menu{
    margin:0;
    padding: 0;
    overflow: hidden;
}
li.menuItem {
    float: right;
}
li.menuItem a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.inActive {
    background-color:#72A25D;

}
.active{
    background-color: #245f0b;
    
}
.inActive:hover{
    background-color: #245f0b;
}

.vacation{
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Ephesis', cursive;
}

.headText img {
    float: left;
    height: 200px;
    width: 200px;
}

.headText h1 {
    position: relative;
    text-align: center;
}

header {
    height:200px;
}
