header {
    background-color: #8D5DA2;
    color: #ffffff;
}

/*ttps://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black
*/
nav{
    display: inline;
}
ul.menu{
    margin:0;
    padding: 0;
    overflow: hidden;
}
li.menuItem {
    float: right;
}
li.menuItem a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.inActive {
    background-color:#72A25D;

}
.active{
    background-color: #245f0b;
    
}
.inActive:hover{
    background-color: #245f0b;
}

.vacation{
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Ephesis', cursive;
}

.verticleLabel {
    height: 50px;
    background: grey;
    display: flex;
    align-items: center
}

.popup {    /*https://stackoverflow.com/a/22278778*/
    position: fixed;
    border-radius: 25px;
    background-color: rgba(0,0,0,.9);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 208, 0);
    width: 70%;
    height: 60%;
    text-align: center;
    z-index: 1000;
}
.popup * {
    padding: 5px;
    
}
.formClass{
    text-align: left;

}
.headText img {
    float: left;
    height: 200px;
    width: 200px;
}

.headText h1 {
    position: relative;
    text-align: center;
}

header {
    height:200px;
}
