.img1 img {
    height: 5cm;
    width: 5cm;
    border-radius: 8px;
    margin: 20px 6px;
}

.tile-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tile {
    text-align: left;
    background-color: white;
    width: 48%;
    max-width:415px;
    height: 420px;
    margin: 100px 10px 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tile p {
    font-size: 25px;
    margin-left: 10px;
}

.tile button {
    display: block;
    float: right;
    margin-right: 10px;
}

@media screen and (max-width: 1100px) {
    .tile {
        width: 48%;
        height: 340px;
    }

    .tile img {
        height: 150px;
    }

    .tile p {
        font-size: 20px;
    }
}